
.header {
    background-color: #f44336;
    padding: 30px 40px;
    color: white;
    text-align: center;
}


ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 18px;
  
}


ul li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
}

